<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Assignment">
    <test name="Task-01">
        <classes>
            <class name="com.qa.tests.TaskOneTest"></class>
        </classes>
    </test>
    <test name="Task-02">
        <classes>
            <class name="com.qa.tests.TaskTwoTest"></class>
        </classes>
    </test>
</suite>